
# Default to Google style but with 4 space indentation
BasedOnStyle: Google
IndentWidth: 4

Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
ColumnLimit: 120
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
